body  
{ 
    font-size: 12pt;
    padding: 0;
    margin: 0;

}


*{
    box-sizing: border-box;
}


@media print {
    .page{ 
        break-before: page; 
    }
    
    @page {  
        size:63mm 88mm;
        margin: 0mm;
    }  
    
}





