<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{title}}</title>

    <link rel="stylesheet" href="{{layoutCSSPath}}">
    <link rel="stylesheet" href="{{templateCSSPath}}">
</head>
<body class="basic">
    <div class="card-list">
          {% for  card in cards %}
            <div class="page">
                {{ card | template("recto") }}
            </div>
            {% if haveVerso %}
            <div class="page">
                {{ card | template("verso") }}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>