@import "../../../styles/variables.scss";

.FolderInput {
    display: flex;
    align-items: stretch;
    min-height: 28px;
    
}

.FolderInput__content {
    display: flex;
    align-items: stretch;
    position: relative;
    border-bottom: 2px solid $medium-grey;
    box-shadow: 0 1px 2px 0px #000000;
}

.FolderInput__label {
    align-self: center;
    padding-right: 5px;
}

.FolderInput__input {
    position: relative;
    border: none;
    flex: 1;
}

.FolderInput__button {
    border-bottom: none;
    box-shadow: none;
}


.FolderInput_labeltop {
    display: block;
    position: relative;
    & > label {
        display: block;
        margin-bottom: 5px;
        font-size: 0.8rem;
    }
}
