.PageNav {
    display: flex;
    align-items: center;
}

.PageNav__input {
    max-width: 52px;
    text-align: center;
}

.PageNav__button {
    min-width: 30px;
    display: inline-flex;
    justify-content: center;
}

.PageNav__total {
    margin-left: 7px;
}

.PageNav__total_disabled {
    opacity: 0.5;
}