<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{title}}</title>

    <link rel="stylesheet" href="{{layoutCSSPath}}">
    <link rel="stylesheet" href="{{templateCSSPath}}">
</head>
<body class="basic">
    <div class="card-list">
          {% for  card in cards %}
            <div class="card-group">
                 <div class="card-box">{{ card | template | safe }}</div>
            </div>
        {% endfor %}
    </div>
</body>
</html>