body  
{ 
    font-size: 12pt;
    font-family: "Arial";
}

*{
    box-sizing: border-box;
}

@media print {
    .card-group{ break-before: page; }
    

    @page {  
        size:63mm 88mm;
        margin: 0mm;  
    }  
    
}

.card-group:not(:first-child){
    margin-top: 3mm;
}
