@import "../../../styles/variables.scss";

.Popover {
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    z-index: 9999;
}

.Popover__Background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(0, 0, 0, 0.6);*/
}
  
.Popover__Content {
    position: absolute;
    background: $dark-grey;
    z-index: 9;
    box-shadow: 0px 2px 4px 1px #000000;
}
  