
.ExportEditor{
    padding: 15px;
}

.ExportEditor__selection {
    display: flex;
    
    & > :not(:last-child) {
        margin-right: 5px;
    }
}

.ExportEditor__export-line {
    display: flex;
    justify-content: space-between;
}