
.ExportEditor{
    padding: 15px;
}


.ExportEditor__line {
    display: flex;
    justify-content: flex-start;
    margin:  0 0 15px 0;

    & > :not(:last-child){
        margin-right: 5px;
    }
}

.ExportEditor__ProgressBar{
    flex: 1 1 auto;
}

.ExportEditor__line_end {
    justify-content: flex-end;
}

.ExportEditor__FolderInput {
    flex: 1 1 auto;
}