@import "../../../styles/variables.scss";


.CardTypeCanvasEditor__Card {
    background-color: $white;
    position: relative;
}

.CardTypeCanvasEditor__Header {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid $medium-grey;
}

.CardTypeCanvasEditor__Canvas {
    overflow: auto;
    height: calc( 52% - 40px);
    position: relative;

}

.CardTypeCanvasEditor__CanvasContent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100%;
    box-sizing: border-box;
}

.CardTypeCanvasEditor__Card {
    /*border: 1px solid $light-grey;*/
    box-shadow: 5px 5px 10px 4px rgba(0,0,0,1);
    margin: 15px 15px 10px 15px;
}

.CardTypeCanvasEditor__CardBoxLabel {
    text-align: center;
    font-style: italic;
    color: $light-grey;
}

.CardTypeCanvasEditor__Tabs {
    height: calc(42% - 10px);
    margin: 0 10px 10px 10px;
    box-sizing: border-box;
    
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,1);

    .TabNav__contents {
        border: 1px solid $medium-grey;
        border-top: none;
    }
}

.CardTypeCanvasEditor__TabContent {
    padding: 5px;
}


.CardTypeCanvasEditor__BoxesActionBar {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid $medium-grey;

 
}

.CardTypeCanvasEditor__CardTypeBoxEditor.CardTypeBoxEditor{
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}



.CardTypeCanvasEditor__VariantPicker {
    display: flex;
    align-items: center;
    max-width: 50%;
}

.CardTypeCanvasEditor__VariantValues {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.CardTypeCanvasEditor__VariantActionBar {
    margin-left: 10px;
}