@import "../../../styles/variables.scss";

.ProgressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid $medium-grey;
    border-bottom: 2px solid $medium-grey;
    background-color: $dark-grey;
    height: 28px;
    overflow: hidden;
    box-shadow: inset 0px 0px 6px 2px $darkest-grey;
    min-width: 100px;
}

.ProgressBar__filler {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    background-color: $light-grey;

    /*border: 1px solid $white;*/
    box-shadow: inset -4px 0px 6px 2px #dfd7d7;
}

.ProgressBar_disabled{
    opacity: 0.2;
}

.ProgressBar__spinner {
    
    font-size: 1.2rem;
    text-shadow: 0 0 5px $darkest-grey;
}