@import '../../styles/variables.scss';

.EditorPanel_projectNotFound {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $medium-grey;
    font-size: 1.2rem;
    user-select: none;
}

.EditorPanel__Tabs{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 43px;
}

.EditorPanel__ActionBar {
    border-top: 1px solid $medium-grey;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.EditorPanelAutoRenderCheckBox {
    display: flex;
    align-items: center;
    padding: 0 10px;

    label {
        user-select: none;
    }
}

.ActionBar__RenderingBox {
    display: flex;
    align-items: center;
}