@import '../../styles/variables.scss';

.EditorPanel_projectNotFound {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $medium-grey;
    font-size: 1.2rem;
    user-select: none;
}

.EditorPanel__Tabs{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 65px;
}

.EditorPanel__ActionBar {
    border-top: 1px solid $medium-grey;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 59px;
    padding-bottom: 5px;

    & > .MessagerAlert__error{
        position: absolute;
        bottom: calc(100% + 10px);
        left: 20%;
        right: 20%;
    }
}

.EditorPanel__ActionBar-line{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5px 5px 0 5px;

    & > *:not(:last-child) {
        margin-right: 5px;
    }
}




.ActionBar__RenderingBox {
    display: flex;
    margin-left: auto;
    label {
        cursor: pointer;
    }
}