@import './variables.scss';

.button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    background: $dark-grey;
    color: $white;
    border: 1px solid $medium-grey;
    outline: none;
    user-select: none;
    cursor: pointer;
    &:hover:not([disabled]) {
        background-color: $medium-grey;
        
    }
    .icon {
        font-size: 16px;
    }

    .icon + *  {
        margin-left: 5px;
    }

    &[disabled]{
        color: $medium-grey;
    }
}

.button-bar {
    display: flex;
    flex-direction: row;
    .button{
        &:first-child {
            border-top-right-radius: 0; 
            border-bottom-right-radius: 0; 
        }
        &:last-child {
            border-top-left-radius: 0; 
            border-bottom-left-radius: 0; 
    
        }
        &:not(:first-child)
        {
            border-left: none;

        }
        &:not(:first-child):not(:last-child)
        {
            border-radius: 0;
        }
    }

    &.right-align{
        justify-content: flex-end;
    }
}

.full-space {
    position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}