@import './variables.scss';

.button {
    position: relative;
    z-index: 1;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    /*border-radius: 4px;*/
    background: $dark-grey;
    color: $white;
    border: 1px solid $medium-grey;
    border-bottom: 2px solid $medium-grey;
    box-shadow: 0 1px 2px 0px #000000;
    outline: none;
    user-select: none;
    min-height: 31px;
    cursor: pointer;

    &:hover:not([disabled]) {
        background-color: $medium-grey;
        
    }
    .icon {
        font-size: 16px;
    }

    .icon + *  {
        margin-left: 5px;
    }

    &[disabled]{
        color: $medium-grey;
    }


}

.button-frameless {
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0 5px;

    &:hover:not([disabled]) {
        background-color: transparent;
        color: $light-grey;
        
    }
}

.button-bar {
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 2px 0px #000000;

    /*& > :first-child {
        border-top-right-radius: 0; 
        border-bottom-right-radius: 0; 
    }
    & > :last-child {
        border-top-left-radius: 0; 
        border-bottom-left-radius: 0; 

    }*/
    & > :not(:first-child)
    {
        border-left: none;

    }
    & > :not(:first-child):not(:last-child)
    {
        border-radius: 0;
    }

    & > * {
        box-shadow: none;
    }
    

    &.right-align{
        justify-content: flex-end;
    }
}

.full-space {
    position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.MessagerAlert__error {
    background-color: $medium-red;
    border: 1px solid $light-red;
    border-radius: 2px;
    box-shadow: 4px 4px 2px #00000054;
    text-align: center;
    padding: 10px 15px;
}

.ImageIcon {
    width: auto;
}

.ImageIcon_small {
    height: 16px;
}

.input-field {
    border: 1px solid $medium-grey;
    border-bottom: 2px solid $medium-grey;
    padding: 0 5px;
    box-shadow: 0 1px 2px 0px #000000;
    min-height: 28px;

    &:disabled {
        opacity: 0.3;
        background-color: $medium-grey;
    }
}

.Content {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.ContentWithLine {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}


.ContentWithLine__Line {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5px 5px 0 5px;

    & > *:not(:last-child) {
        margin-right: 5px;
    }

    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.ContentWithLine__Line_center {
    justify-content: center;
}

.ContentWithColumn {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    padding: 5px 0 5px 5px;

    &:not(:last-child) {
        margin-left: 5px;
    }
}


/*
.ContentWithColumn__Col {

}
*/