@import './variables.scss';

.button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    background: $dark-grey;
    color: $white;
    border: 1px solid $medium-grey;
    outline: none;
    user-select: none;
    min-height: 28px;
    cursor: pointer;
    &:hover:not([disabled]) {
        background-color: $medium-grey;
        
    }
    .icon {
        font-size: 16px;
    }

    .icon + *  {
        margin-left: 5px;
    }

    &[disabled]{
        color: $medium-grey;
    }
}

.button-frameless {
    border: none;
    background-color: transparent;
    padding: 0 5px;

    &:hover:not([disabled]) {
        background-color: transparent;
        color: $light-grey;
        
    }
}

.button-bar {
    display: flex;
    flex-direction: row;

    & > :first-child {
        border-top-right-radius: 0; 
        border-bottom-right-radius: 0; 
    }
    & > :last-child {
        border-top-left-radius: 0; 
        border-bottom-left-radius: 0; 

    }
    & > :not(:first-child)
    {
        border-left: none;

    }
    & > :not(:first-child):not(:last-child)
    {
        border-radius: 0;
    }
    

    &.right-align{
        justify-content: flex-end;
    }
}

.full-space {
    position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.MessagerAlert__error {
    background-color: $medium-red;
    border: 1px solid $light-red;
    border-radius: 2px;
    box-shadow: 4px 4px 2px #00000054;
    text-align: center;
    padding: 10px 15px;
}

.ImageIcon {
    width: auto;
}

.ImageIcon_small {
    height: 16px;
}

.input-field {
    border: 1px solid $medium-grey;
    padding: 0 5px;
}
