@import './variables.scss';

body{
    background: $dark-grey;
    color: $white;
    font-family: Segoe WPC,Segoe UI,sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    user-select: none;
}

@import './components.scss';
@import './scrollbars.scss';

