body  
{ 
    margin: 0;
    font-size: 12pt;
}

*{
    box-sizing: border-box;
}

@media print {
    .card-group{ break-before: page; }
    

    @page {  
        size: A4;
        margin:8mm;
    }  
    
}

.card-group{ 
    display: flex;
    flex-flow: wrap;
    margin: 0.2mm 0 0 0.2mm;
}

.card-box {
    border: 0.2mm dashed  lightgray;
    margin:-0.2mm 0 0 -0.2mm;
}