<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{title}}</title>

    <link rel="stylesheet" href="{{layoutCSSPath}}">
    <link rel="stylesheet" href="{{templateCSSPath}}">
</head>
<body class="basic">
    <div class="card-list">
          {% for  card in cards %}
            {% if loop.first %}
            <div class="card-group">
            {% endif %}
                 <div class="card-box">{{ card | template("recto") }}</div>
            {% if not loop.last %}
                {% if (loop.index0 % 9) == 8 %}
            </div>
            <div class="card-group">
                {% endif %}
            {% endif %}
            {% if loop.last %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>