<div class="card">
    <img class="card-bg" src="/templates/default/assets/card-bg.svg" />
    <div class="card-title"><%= card.name %></div>
    <div class="card-desc"><%= card.desc %></div>
    <div class="card-value"><%= card.value %></div>
</div>