{% if card.isRecto %}
<div class="card">
    <img class="card-bg" src="{{base}}/assets/card-bg.svg" />
     {{card | boxes("recto") | safe}}
    <div class="card-title">{{card.name}}</div>
    {% if card.desc %}<div class="card-desc">{{card.desc}}</div>{% endif %}
    {% if card.desc %}<div class="card-value">{{card.value}}</div>{% endif %}
</div>
{% else %}
<div class="card-verso" >
    Verso
     {{card | boxes("verso") | safe}}
</div>
{% endif %}
