@import '../../../styles/variables.scss';

.PDFViewer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.PDFViewer__viewport{
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; 
    background-color: $darkest-grey;
    /*cursor: grab;*/
    
}

.PDFViewer__header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    background-color: $dark-grey;
    border-bottom: 1px solid $medium-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    user-select: none;
    overflow: hidden;
}

.PDFViewer__header-renderTime{
    font-style: italic;
    font-size: 0.7rem;
    color: $light-grey;
}

.PDFViewer__scrollcontent{
    margin: 15px;
}


.PDFDocument {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PDFPage {
    border: 1px solid $light-grey;
    box-shadow: 5px 5px 10px 4px rgba(0,0,0,1);
    margin: 15px;
}