@import "../../../styles/variables.scss";

.PathInput {
    display: flex;
    align-items: stretch;
    min-height: 28px;
    
}

.PathInput__content {
    display: flex;
    align-items: stretch;
    position: relative;
    border-bottom: 2px solid $medium-grey;
    box-shadow: 0 1px 2px 0px #000000;
}

.PathInput__label {
    align-self: center;
    padding-right: 5px;
}

.PathInput__input {
    position: relative;
    flex: 1;
    border: 1px solid $medium-grey;
    padding: 0 5px;
}

.PathInput__button {
    border-bottom: none;
    box-shadow: none;
}


.PathInput_labeltop {
    display: block;
    position: relative;
    & > label {
        display: block;
        margin-bottom: 5px;
        font-size: 0.8rem;
    }
}
