@font-face{
	font-family:"HelveticaNeue35";
	src: url("/tmp/assets/fonts/TTF/HelvNeue35_W1G.ttf") format("truetype")
}

@font-face{
	font-family:"HelveticaNeue45";
	src: url("/tmp/assets/fonts/TTF/HelvNeue45_W1G.ttf") format("truetype")
}

@font-face{
	font-family:"HelveticaNeue55";
	src: url("/tmp/assets/fonts/TTF/HelvNeue55_W1G.ttf") format("truetype")
}

@font-face{
	font-family:"HelveticaNeue65";
	src: url("/tmp/assets/fonts/TTF/HelvNeue65_W1G.ttf") format("truetype")
}

@font-face{
	font-family:"HelveticaNeue75";
	src: url("/tmp/assets/fonts/TTF/HelvNeue75_W1G.ttf") format("truetype")
}

.card {
    /*
    carte magique standard :
    width: 63mm;
    height: 88mm;
    */
    width: 59mm; /* 4mm de marge  */
    height: 82.4mm; /* on garde le ratio 88/63 */
    position: relative;
    
}

.client-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.client-title {
    position: absolute;
    top: 8mm;
    left: 5mm;
    right: 5mm;
    text-align: center;
    color: #8871B1;
    font-family: "HelveticaNeue75";
    font-size: 11pt;
    text-transform: uppercase;

}

.client-desc {
    position: absolute;
    top: 19mm;
    left: 5.2mm;
    right: 5.2mm;
    color: #5F5C5A;
    font-family: "HelveticaNeue45";
    font-size: 7pt;
    /*background-color: rgba(0, 128, 0, 0.445);*/

}

.client-need-list {
    position: absolute;
    top: 43.5mm;
    left: 5.5mm;
    right: 5.5mm;
    height: 9.5mm;
    display: flex;
    flex-direction: row;
    /*background-color: rgba(0, 128, 0, 0.445);*/
}

.client-need {
    width: 12mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-icon {
    width: 5.5mm;
    max-height: 5.74mm;
}

.client-conformity {
    position: absolute;
    top: 57.5mm;
    left: 45.3mm;
    width: 7mm;
    text-align: center;
    color: #8871B1;
    font-family: "HelveticaNeue75";
    font-size: 14pt;
    /*background-color: rgba(255, 0, 0, 0.37);*/

}

.client-gain{

    position: absolute;
    top: 68.3mm;
    left: 37.5mm;
    width: 14.6mm;
    text-align: center;
    color: #8871B1;
    font-family: "HelveticaNeue75";
    font-size: 17pt;
    /*background-color: rgba(255, 0, 0, 0.37);*/
}

.client-gain-units {
    font-size: 12pt;
}

.client-phase {
    position: absolute;
    bottom: 2mm;
    left: 23.5mm;
    width: 12mm;
}

.client.alt2 .client-desc{
    top: 23mm;
} 

.client.alt2 .client-need-list{
    top: 43.8mm;
} 

.client.alt2 .client-conformity{
    top: 58mm;
}

.client.alt2 .client-gain{
    top: 68.8mm;
}