body  
{ 
    margin: 3mm;  
    font-size: 12pt;
    font-family: "Times New Roman", Times, serif;
}

*{
    box-sizing: border-box;
}

@media print {
    .card-group{ page-break-before: always; }
    

    @page {  
        size:70mm 100mm;
        margin: 0;  
    }  
    
}

.card-list {
   
}

.card-group{ 
    display: flex;
    flex-flow: wrap;
}

.card-group:not(:first-child){
    margin-top: 3mm;
}

