
.card{
    /*
    carte magique standard :
    width: 63mm;
    height: 88mm;
    */
    width: 63mm; 
    height: 87.5mm; /* -0.5mm pour ajuster au pdf (bug?) */
    position: relative;

}

.card-verso {
    background-color: dimgray;
    width: 63mm;
    height: 87.5mm;
}

.card-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-title {
    position: absolute;
    top: 7mm;
    left: 5mm;
    right: 5mm;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
}

.card-desc {
    position: absolute;
    top: 14mm;
    left: 5mm;
    right: 5mm;
    bottom: 14mm;
    font-size: 10pt;
}

.card-value{
    position: absolute;
    bottom: 5mm;
    left: 5mm;
    right: 5mm;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
} 

.card-verso {
    text-align: center;
    background-color: DimGray;
}