@import "../../../styles/variables.scss";


.WYSIWYGEditor__Card {
    background-color: $white;
    position: relative;
}

.CardTypeBoxView {
    position: absolute;
    box-sizing: border-box;
}

.CardTypeBoxView_selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $light-grey;
}

.WYSIWYGEditor__Canvas {
    overflow: auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.WYSIWYGEditor__Card {
    border: 1px solid $light-grey;
    box-shadow: 5px 5px 10px 4px rgba(0,0,0,1);
    margin: 15px 15px 10px 15px;
}

.WYSIWYGEditor__CardBoxLabel {
    text-align: center;
    font-style: italic;
    color: $light-grey;
}

.WYSIWYGEditor__Tabs {
    height: 40%;
}

.WYSIWYGEditor__TabContent {
    padding: 5px;
}

.CardTypeBoxView__Line {
    position: absolute;
}

.CardTypeBoxView_selected {
    .CardTypeBoxView__Line_top {
        border-left: 1px dashed $light-grey;
        left: 50%;
    }

    .CardTypeBoxView__Line_left {
        border-bottom: 1px dashed $light-grey;
        bottom: 50%;
    }

    .CardTypeBoxView__Line_bottom {
        border-left: 1px dashed $light-grey;
        left: 50%;
    }

    .CardTypeBoxView__Line_right {
        border-bottom: 1px dashed $light-grey;
        bottom: 50%;
    }
}