@import "../../../styles/variables.scss";

.PopoverMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 60px;
}

.PopoverMenu__Item {
    padding: 5px;
    cursor: pointer;
    &:hover {
        background-color: $medium-grey;
    }

    &:not(:last-child){
        border-bottom: 1px solid $medium-grey;
    }
}