
.card {
    /*
    carte magique standard :
    width: 63mm;
    height: 88mm;
    */
    width: 59mm; /* 4mm de marge  */
    height: 82.4mm; /* on garde le ratio 88/63 */
    position: relative;
    
}

.card-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
