body  
{ 
    margin: 3mm;  
    font-size: 12pt;
    font-family: "Times New Roman", Times, serif;
}

*{
    box-sizing: border-box;
}

@media print {
    .card-group{ break-before: page; }
    
    @page {  
        size: A4;
        margin: 5mm;  
    }  
    
}

.card-group{ 
    display: flex;
    flex-flow: wrap;
    margin: 0.2mm 0 0 0.2mm;
}

.card-group:not(:first-child){
    margin-top: 3mm;
}

.card-box {
    border: 0.2mm dashed  lightgray;
    /*padding: 2mm;*/
    margin:-0.2mm 0 0 -0.2mm;
}
