<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title><%= title %></title>

    <link rel="stylesheet" href="<%= layoutCSSPath %>">
    <link rel="stylesheet" href="<%= templateCSSPath %>">
</head>

<body class="basic">
    <div class="card-list">
            <% cards.forEach((card,i,list)=>{ %>
            <% if(i == 0){ %> <div class="card-group"> <% } %> 
            <div class="card-box">
                <%- include('card', {card: card}); %>
            </div>
                <% if(i%9==8 && i != list.length-1){ %></div><div class="card-group"> <% } %> 
                <% if( i == list.length-1){ %></div><% } %> 
            <% }); %>
        </div>
    </div>
</body>

</html>