@import "../../../styles/variables.scss";

.HTMLViewer{
    background-color: $darkest-grey;
}

.HTMLViewer_webview{
    position: absolute;
    top:41px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
}
.HTMLViewer__ActionBar {
    display: flex;
    align-items: stretch;
    height: 30px;
    padding: 5px;
    background-color: #2C2828;
    border-bottom: 1px solid #565050;
}

.HTMLViewer__no {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $medium-grey;
    font-size: 1.2rem;
    user-select: none;
}