@import '../../styles/variables.scss';
@import './layout.scss';


.project-name {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $medium-grey;
    border-radius: 4px;
    background: $dark-grey;
}


.project-bar {
    display: flex;
    align-items: center;
}

.project-bar__name {
    padding: 0 5px;
}

.project-bar__modified {
    padding: 2px;
    font-style: italic;
    color: orange;

    .icon {
        margin-left: 2px;
        
    }
}

.Header__AppIcon{
    padding-right: 5px;
}

.Header__AppName {
    font-family: 'Roboto';
}

.button-save-as {
    position: relative;

    > span {
        position: absolute;
        bottom: 3px;
        right: 4px;
        z-index: 10;
        font-weight: bold;
        line-height: 0.7;
        background-color: $dark-grey;
    }
}

.button-about{
    margin-right: 15px;
}

.AppInfos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AppInfos__title {
    font-family: 'Roboto';
    font-size: 4.6rem;
    display: flex;
    align-items: center;
    line-height: 1;
}

.AppInfos__subtitle {
    text-align: right;
}

.AppInfos__AppLogo {
    width: 128px;
    height: auto;
}

.AppInfos__CsldLogo {
    width: auto;
    vertical-align: middle;
    height: 28px;
}
